<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android_service">

<!--    Xin quyền chạy FOREGROUND_SERVICE-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

<!-- Khai báo cái MyApplication - cái giúp tạo 1 channel Notification ở android Manifest -->
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Android_service">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".MyService"/>
<!--
Khai báo service được tạo ra
Sử dụng  foreground cần xin quyền FOREGROUND_SERVICE
3 bước :

1: tạo service phải khai báo trong  manifest
2 : xin quyền
3: Sử lý code liên quan foreground
-->
    </application>

</manifest>